/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/11/08/09/abc.jpg?w=990");
  background-size: cover;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: center;
  margin-top: 5%;
}

#mainLabel {
  font-size: 3rem;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}

#anyText {
  height: 25rem;
  width: 35rem;
  font-size: 2rem;
  background: black;
  color: white;
}

#button {
  padding: 1% 6%;
  font-size: 2rem;
  margin: 1% 30%;
  background: black;
  color: white;
  border: none;
  border-radius: 1rem;;
}

h2 {
  font-size: 3rem;;
}